.my-services {
    /* background-image: url("../assets/dummyportfolio.jpg"); */
    background-color: var(--sec-gry-light);
    /* background-size: cover; */
    margin-top: 6em;
    margin-bottom: 6em;
    text-align: center;
    box-shadow: var(--bs);
    padding-top: 2em;
}
.services {
    margin-bottom: 3em;
}
.section__title--services {
    /* background-color: var(--prim-dark); */
    /* color:var(--prim-white); */
    display: inline-block;
    position: relative;
    padding: .25em .5em;
    /* box-shadow: var(--bs); */
}
.section__title--services::after {
content : "";
width: 75%;
height: .1rem;
margin: .5em auto 1em;
display: block;
background-color: currentColor;
opacity: .75;

}
.service {
    max-width: 31.25rem;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 62.5rem; /*equals 1000px / 16*/
        margin-left: auto;
        margin-right: auto;

    }
    .service + .service {
        margin-left: 2em;
    }
}